/* header */
.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    width:100%;
    min-height:295px;
    padding: 0 50px;
    font-size: 18px;
}
.header__links-list {
    display:flex;
    column-gap: 28px ;
    margin-top: -8px;
}
.little-bigger-gap {
    margin-left: 3.5px;
}
.header__link {
    font-size: 18px;
    line-height: 100%;
    text-decoration:1px underline;
    text-underline-offset:4px;
}
.header__link_no-underline {
    font-size: 18px;
    line-height: 100%;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}
.header__links-list-item {
    list-style-type: circle;
}
.header__logo {
    width:158px;
    height:115px;
    margin: 0px 0 0 5px;
    padding: 1.16px 0 0 9.03px;
}
.header__logo-image {
    width: 136.11px;
    height: 107.65px;
    transform: scaleY(101%);

}
/* только выравнивание адреса, остальное в global .address*/
.header__address {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-self: end;
    min-height:98px;
    margin-top: -6px;
}
.text-address-header {
    font-style:normal;
    line-height: 24.3px;
    text-decoration:1px underline;
    text-underline-offset:5px;
}
.text-address-header-no-underline {
    margin-left: 1px;
    font-style:normal;
    line-height: 24.3px;
}
.tel-header {
    margin-top: 1px;
}
/* main */
.main {
    display: flex;
    flex-direction: column;
}
/* cover */
.cover {
    /* позиционирование */
    position: relative; /*для абсолютного позиционирования черного фона */
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 757px;
    margin-top: -2px;
    padding:50px;
    /* оформление фона */
    background-image: url(../images/cover.jpg);
    background-size:cover; /*растягивает под блок */
    background-position-x: 50.8% ;
}
.cover::before {
    content: ''; /* обязательно */
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000000;
}
.cover * {
    z-index:3;
    color: #fff;
}
.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 485px;
    margin:auto 0;
    padding-top: 55px;
}
.aligned-text {
    display: block;
    margin-right: -0.3em;   /* из-за letter-spacing */
    font-size: 100px;
    line-height: 115%;
    letter-spacing:0.3em;
    text-transform: uppercase;
}
.aligned-text_center {
    text-align: center;
}
.aligned-text_right {
    text-align: right;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 51px;
    font-size: 22px;
}
.cover__description-text {
    padding-top: 2px;
    text-transform: uppercase;
    word-spacing:0.9em;
}
.cover__description-text-end {
    margin-right: 83.5px;
    padding-top: 2px;
    text-transform: uppercase;
    word-spacing:0.83em;
}
.bet-button {
    align-self: stretch;
    min-width: 256px;
    border: 1px solid #fff;
    padding: 0 2px 1px 0;
    text-transform: uppercase;
    background-color: transparent;
}
/* lots */
.lots {
    width:100%;
    min-height:723px;
    margin: 180px 0 0 0;
    padding: 0 24px;
}
.lots-naming {
    padding-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}
.lot-cards {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 25px;
    width:100%;
    height:596px;
    margin-top: 27px;
    color:#fff;
}
.card {
    width:100%;
    height:100%;
    list-style: none;
}
.card a {
    display: block;
    width:100%;
    height:100%;
}
.card-about-film {
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.jpg);
    background-position: 50.5%;
    background-size: 164% 100%;
}
.card-about-book {
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: 161.5% 100%;
}
.card-about-picture {
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height:100%;
    padding: 48px 40px;
}
.card-naming {
    font-weight: 700;
    font-size: 22px;
    text-decoration:1px underline;
    text-underline-offset:3px;
    text-transform: uppercase;
}
.card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.show-more {
    display: inline-block;
    margin:30px 0 0 40px;
    font-weight: 400;
    font-size: 20px;
    text-decoration:1px underline;
    text-underline-offset:5px;
}
/* about */
.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 54%;
    width:100%;
    min-height: 595px;
    margin: 120px 0 0 0;
    padding: 0 24px;
}
.about-logo {
    align-self: end;
    width: 240px;
    height:240px;
    margin: 0 0 -1px 47px;
    border-radius: 50%;
    padding: 64px 0px 0 46.5px;
    background-color: #000000;
}
.about-logo img {
    width: 148px;
    height: 114px;
}
.about-naming {
    margin: 135.5px 0 0 8.5px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
}
.about-text-block {
    grid-column: 2;
    grid-row: 2;
    padding: 9px 0px 3px 9px;
    letter-spacing:0.0004em;
}
.about-text-start {
    margin: 0px 0 0 -1px;
    padding: 0 20px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.about-text-end {
    width: 100%;
    margin: 24.5px 0px 0 -1px;
    padding: 0 0px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 180px;
    margin: 180px 0 0 0;
    padding: 2px 49px;
}
.address-footer {
    margin: -1px 0 0 1px;
}
.text-address-footer {
    font-weight: 400;
    font-size: 18px;
    font-style:normal;
    line-height: 24.3px;
    text-decoration:1px underline;
    text-underline-offset:4px;
}
.text-address-footer-no-underline {
    padding-left: 1px;
    font-weight: 400;
    font-size: 18px;
    font-style:normal;
    line-height: 24.3px;
}
.footer__link {
    font-size: 18px;
    line-height: 115%;
}
.footer__links-list-item {
    text-decoration:1px underline;
    text-underline-offset:4px;
}
.footer__links-list {
    display:flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}
.block-image-footer {
    display: flex;
    justify-content: space-between;
    width:240px;
    margin: -1px 1px 0 0;
}
.image-footer {
    display: block;
    width: 48px;
    height: 48px;
}